*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Barlow', sans-serif;
    --ff-accent: 'Fraunces', serif;

    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;

    --clr-white: #fff;
    --clr-primary-red: hsl(7, 99%, 70%);
    --clr-primary-yellow: hsl(51, 100%, 49%);
    --clr-primary-cyan-600: hsl(167, 40%, 24%);
    --clr-primary-cyan-500: hsl(168, 34%, 41%);
    --clr-primary-cyan-300: hsl(167, 43%, 70%);
    --clr-primary-blue: hsl(198, 62%, 26%);
    
    --clr-accent-900: hsl(212, 27%, 19%);
    --clr-accent-700: hsl(213, 9%, 39%);
    --clr-accent-600: hsl(232, 10%, 55%);
    --clr-accent-400: hsl(210, 4%, 67%);

    --padding-body: 1em;
}

body {
    margin: 0;
    width: 100%;
    font-family: var(--ff-primary);
    font-weight: 600;
}

/* utilities */

.title,
.heading {
    font-family: var(--ff-accent);
    margin: 0;
}

.heading--h2 {
    font-size: 1.4rem;
}

.heading--h3 {
    font-size: 1.4rem;
}

/* top section */

.section--top {
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: var(--padding-body);
    color: var(--clr-white);
    text-align: center;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    margin-top: 0.5em;
    margin-bottom: 4em;
    font-size: 1.4rem;

    &__logo {
        margin-top: 0.1em;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0.8em 0;
        cursor: pointer;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    li:hover {
        color: var(--clr-accent-900);
    }

    &__navbar {
        display: none;
    }

    &__menu {
        position: absolute;
        top: 2em;
        right: 0;
        width: min(100%, 400px);

        display: none;
        align-items: center;
        justify-content: center;
        padding: 2em 1em;
        padding-top: calc(10% + 1em);

        background: var(--clr-white);
        clip-path: polygon(0 10%, 90% 10%, 100% 0, 100% 100%, 0% 100%);

        font-family: var(--ff-primary);
        font-weight: var(--fw-700);
        color: var(--clr-accent-600);

    }

    &__menu-icon {
        cursor: pointer;
    }

    .menu__contact {
        
        display: inline-block;
        padding: 1em 1.5em;
        margin-top: 1em;
        border-radius: 50px;
        font-family: var(--ff-accent);
        font-weight: var(--fw-600);
        font-size: 1.1rem;
        text-transform: uppercase;
        color: var(--clr-accent-900);

        &__mobile {
            background: var(--clr-primary-yellow);
        }

        &__desktop {
            background: var(--clr-white);
            color: var(--clr-accent-900);
        }

    }



    .menu__contact__mobile:hover {
        background: var(--clr-primary-red);
        color: var(--clr-white);
    }
}

.title {
    font-size: 1.6rem;
    font-weight: var(--fw-900);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 1.5em;
}

@media (min-width: 350px) {
    .title {
        font-size: 2.4rem;
    }
}

@media (min-width: 700px) {

    :root {
        --padding-body: 1em 2em;
    }

    .title {
        font-size: 3rem;
    }

    .header {
        
        &__navbar {

            display: flex;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                gap: 2em;
            }  

            li {
                padding: 0;
                font-size: 1.2rem;
            }

        }

        .menu__contact__desktop {
            margin: auto;
        }

        .menu__contact__desktop:hover {
            background: #fff5;
            color: var(--clr-white);
        }


        &__menu {
            display: none !important;
        }

        &__menu-icon {
            display: none;
        }

    }
        
}

@media (min-width: 900px) {
    .title {
        font-size: 4rem;
    }
}

/* main content */

.main-content {

    &__img {
        max-width: 100%;
    }

    &__item {
        padding: 3em 1em;
        text-align: center;
    }

    &__item__text {
        max-width: 30em;
    }

    p {
        color: var(--clr-accent-600);
        line-height: 1.5;
    }

    .learn-more {
        display: inline-block;
        text-decoration: none;
        color: var(--clr-accent-900);
        text-transform: uppercase;
        font-family: var(--ff-accent);
        letter-spacing: 1px;
        font-size: 0.9rem;
        margin-top: 1.5em;
        position: relative;
    }

    .learn-more::before {
        content: '';
        position: absolute;
        width: calc(100% + 1em);
        height: 0.6em;
        opacity: 0.3;
        left: -0.5em;
        bottom: -0.1em;
        z-index: -1;
    }

    .learn-more--transform::before {
        background-color: var(--clr-primary-yellow);
    }

    .learn-more--stand-out::before {
        background-color: var(--clr-primary-red);
    }

    .learn-more:hover::before {
        opacity: 1;
    }

    .graphic-design-container,
    .photography-container {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;

        .heading--h3 {
            margin-top: auto;
        }

    }

    .graphic-design-container {
        background-image: url(images/desktop/image-graphic-design.jpg);
        
        &, p {
            color: var(--clr-primary-cyan-600);
        }

    }

    .photography-container {
        background-image: url(images/desktop/image-photography.jpg);

        &, p {
            color: var(--clr-primary-blue);
        }

    }

    .tall-height-container {
        height: 50vh;
        min-height: 500px;
    }

    @media (min-width: 500px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > * {
            width: 50%;
            min-height: 350px;
            height: 40vw;
        }

        &__img {
            object-fit: cover;
            object-position: center;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__item__text {
            text-align: left;
        }

        #transform-item {
            order: -1;
        }

        .tall-height-container {
            width: 100%;

            p {
                max-width: 400px;
            }
        }
    }

    @media (min-width: 700px) {
        &__item {
            padding: 3em 2em;
        }
    }

    @media (min-width: 900px) {
        &__item {
            padding: 3em 4em;
        }

        .tall-height-container {
            width: 50%;
            min-height: 900px;

            p {
                max-width: 400px;
            }

        }
    }

    @media (min-width: 1100px) {
        &__item__text {

            h2 {
                font-size: 2rem;
            }
            
            p {
                font-size: 1.1rem;
            }

            .learn-more {
                font-size: 1.1rem;
            }
        }

        .tall-height-container {
            h3 {
                font-size: 2rem;
            }
            
            p {
                font-size: 1.1rem;
            }
        }
    }

}

/* testimonials */

.testimonials-container {
    padding: 3em 1em;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading--testimonials {
        text-transform: uppercase;
        color: var(--clr-accent-400);
        font-size: 0.9rem;
        letter-spacing: 5px;
        font-weight: var(--fw-900);
    }

}

.testimonials {

    max-width: 500px;
    margin: 0 auto;

    &__img {
        width: 4em;
        height: 4em;
        border-radius: 50%;
    }

    &__item {
        margin: 3em 0;
    }

    &__item:last-of-type {
        margin: 3em 0 0;
    }

    &__body {
        font-size: 0.9rem;
        color: var(--clr-accent-700);
        margin-bottom: 2em;
        line-height: 1.6;
    }

    &__name {
        font-family: var(--ff-accent);
    }

    &__role {
        font-size: 0.8rem;
        color: var(--clr-accent-400);
    }

}

@media (min-width: 900px) {
    .testimonials {
        display: flex;
        gap: 2em;
        max-width: initial;
        margin: 0;
        padding: 3em;
    
        &__item,
        &__item:last-of-type  {
            margin: 0;
            max-width: 400px;
        }

        &__img {
            margin-bottom: 2em;
        }

        &__body {
            margin-bottom: 3em;
        }
    }
    .testimonials-container {
        padding: 6em 0;
        gap: 4em;
    }
    
}


/* image gallery */

.image-gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100%;

    &__img {
        width: 50%;
        height: 50vw;
        object-fit: cover;
        object-position: center;
    }

    &__img:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &__img:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &__img:nth-of-type(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    &__img:nth-of-type(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    @media (min-width: 900px) {

        display: flex;

        &__img {
            width: 25%;
            height: 400px;
        }

    }

}


/* footer */

.footer {
    background: var(--clr-primary-cyan-300);
    padding: 3em 1em;
    text-align: center;
    color: var(--clr-primary-cyan-600);

    &__logo {
        fill: var(--clr-primary-cyan-600);
    }

    &__links {
        display: flex;
        justify-content: space-around;
        margin: 1em 0 3em;

        &__link:hover {
            color: var(--clr-white);
        }

    }

    &__icons {
        display: flex;
        gap: 1.5em;
        justify-content: center;

        a:hover {
            color: var(--clr-white);
        }

    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (min-width: 700px) {

        &__links {
            justify-content: center;
            gap: 3em;
        }

        &__icons {
            font-size: 1.2rem;
        }
    }

}


/* attribution */

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 2em 1em;
    background: var(--clr-accent-900);
    color: var(--clr-white);

    a {
        color: var(--clr-primary-yellow);
        text-decoration: none;
    }  

    a:hover {
        color: var(--clr-primary-red);
    }

    p {
        line-height: 1.6;
        letter-spacing: 1px;
    }
}